/*~~~~~~~~~~oOo~~~~~~~~~~o~
~o DOCUMENT  INFORMATION o~

o Document  Herringbone Theme - Global Landing Page CSS
o Version   v0.1
o Author	Jefferson Real
o Contact   me@jeffersonreal.com

This style sheet must only contain styles for the landing pages. It will ONLY be
loaded on landing pages. Styles specific to a single landing page should go in
that pages dedicated css file.

~o~~~~oOo~~~~o~
~o CSS INDEX o~

1. GLOBAL
	1.1 GLOBAL - ROOT STUFF
	1.2 GLOBAL - TYPOGRAPHY
	1.3 GLOBAL - HEADER
	1.4 GLOBAL - SECTION GRID LAYOUT
2. BLOCKS
	2.1 BLOCKS - CHALKBOARD
	2.2 BLOCKS - RESPONSIVE SCREEN ANIMATION
	2.3 .tickle
3. ANIMATION
	3.1 CSS KEYFRAMES
4. THEMES
	4.1 THEMES - MEXICO
*/


/*========================================================== 1. GLOBAL =====*/
/*--------------------------------------------- 1.1 GLOBAL - ROOT STUFF ----*/


:root {
	--hb_triBorder: url("data:image/svg+xml,%3Csvg width='36' height='36' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern patternUnits='userSpaceOnUse' width='12' height='12' id='trings'%3E%3Cpath fill='%23de7c61' d='M 1.4,1.3 1,9.4 9.1,1.4 Z' id='path2' /%3E%3Cpath fill='%23e2e542' d='M 2.5,11 11,2.7 10.5,10.8 Z' id='path4' /%3E%3Crect fill='none' opacity='0' width='12' height='12' x='0' y='0' /%3E%3C/pattern%3E%3C/defs%3E%3Crect style='fill:url(%23trings);' width='36' height='36' x='0' y='0' /%3E%3C/svg%3E") 12 round;
	--hb_iconBackground: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cpath fill='%23cff9e9' d='M20 11c-32 15-23 72 8 85 30 14 76-11 72-58S51-5 20 11z'/%3E%3C/svg%3E");
}


/*--------------------------------------------- 1.2 GLOBAL - TYPOGRAPHY ----*/





/*------------------------------------------------- 1.3 GLOBAL - HEADER ----*/


.hb__pag-landing .header {
	margin-top: calc(var(--hb_landingHeaderOffset) - calc( 2 * var(--hb_landingHeaderOffset)));
}
	.hb__pag-landing .header_inner-landing {
		padding: 0.3em;
	}
		.hb__pag-landing .header_content-left   {
			flex: 1 1 50%;
			justify-content: flex-start;
		}
		.hb__pag-landing .header_content-middle {
			flex: 1 1 50%;
			justify-content: center;
		}
		.hb__pag-landing .header_content-right  {
			display: flex;
			flex: 0 0 6.6em;
			justify-content: flex-end;
		}
			.hb__pag-landing button.headerToggle {
				position: absolute;
				top: var(--hb_landingHeaderOffset);
				right: 0.5em;
				font-size: var(--hb_font-base);
			}


/*--------------------------------------- 1.4 GLOBAL - MAIN GRID LAYOUT ----*/


.main-landing {
	display: grid;
	grid: auto / 100%;
	grid-auto-flow: row dense;
}


/*------------------------------------ 1.4 GLOBAL - SECTION GRID LAYOUT ----*/


/*
### Aspect ratio grid layout.

This layout provides grid tracks set at aspect ratios based on viewport height. The viewport edges
form the 'top and bottom' of the aspect ratio container. This allows you to create a screen space
based on an aspect ratio which best suits your content. There is no limit to the height of the
grid layout.

#### Layout

[Full-width] [16:9] [3:2] [1:1] [3:2] [16:9] [Full-width]

Columns are always centered to the viewport. As the viewport widens in relation to the height, the
extra columns get added left and right and expand until they reach their ratio max. E.g when the
viewport is wider than 100% of the height (> 1:1), the 3:2 columns begin to fill the available
space until they hit their max, and so on. The full-width tracks are always 100vw.


#### Columns

3 ratios are achieved when the columns are fully expanded:

			 [1:1] 				= 1:1
	   [3:2] [1:1] [3:2]		= 3:2
[16:9] [3:2] [1:1] [3:2] [16:9] = 16:9

The ultrawide aspect ratio is the most extreme aspect ratio in common use, so the min-width is based
on the UW aspect ratio of 64:27. In other words, the 1:1 column will never be narrower than
42.186vh ( 100vh / 64 * 27).


#### Max Column Widths (between tracks)

ALWAYS ROUND DOWN TO PREVENT OVERFLOW!

1:1  = 100vh 	(100vh by 100vh)
3:2  = 25vh  	(150vh - 100vh / 2)
16:9 = 13.888vh (100vh / 9 * 16 = 177.776vh then 177.776vh - 150vh = 27.776vh / 2)
*/


.hb__pag-landing section {
	--oneone: clamp( 42.186%, calc(100% - 2 * var(--hb_gutters)), calc( 100vh - var(--scrollbar) ) );
	--sixteennine: clamp( 0px, calc( calc( 50% - 75vh ) - calc( 0.50 * var(--scrollbar) ) ), 13.888vh );
	--threetwo: clamp( 0px, calc( 50% - 50vh ), 25vh );
	gap: 0;
	display: grid;
	position: relative;
	grid-template-columns: [full-l] 1fr [sixteennine-l threetwo-l oneone-l] var(--oneone) [oneone-r threetwo-r sixteennine-r] 1fr [full-r];
	grid-column: 1 / -1;
	justify-content: center;
	width: 100%;
	text-align: center;
}
	.landing_content {
		position: relative;
		grid-row: var(--row);
		grid-column: var(--col);
		z-index: 0;
	}
	.landing_backdrop {
		display: flex;
		position: absolute;
		grid-row: 1 / -1;
		grid-column: 1 / -1;
		justify-content: center;
		z-index: -1;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

@media (min-width: 100vh) {
	.hb__pag-landing section {
		grid-template-columns: [full-l] 1fr [sixteennine-l threetwo-l] var(--threetwo) [oneone-l] var(--oneone) [oneone-r] var(--threetwo) [threetwo-r sixteennine-r] 1fr [full-r];
	}
}
@media (min-width: 150vh) {
	.hb__pag-landing section {
		grid-template-columns: [full-l] 1fr [sixteennine-l] var(--sixteennine) [threetwo-l] var(--threetwo) [oneone-l] var(--oneone) [oneone-r] var(--threetwo) [threetwo-r] var(--sixteennine) [sixteennine-r] 1fr [full-r];
	}
}


/*============================================================ 2. BLOCKS =====*/
/*- - - - - - - - - - - - - - - - - - - - - - - - 2.1 BLOCKS - CHALKBOARD - - */


.chalkboard {
	position: relative;
	z-index: 1;
	filter: drop-shadow(3px 8px 8px #0004);
	margin-top: 160px;
	border: solid 20px;
	border-radius: 3px;
	-o-border-image: var(--hb_triBorder);
	   border-image: var(--hb_triBorder);
	background: #fff;
	padding: 0 5% 1em 5%;
	width: clamp(41.86vmax, 100vmin, 100vmin);
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}
	.chalkboard_title {
		font-size: var(--hb_font-xxl);
		font-weight: 400;
		font-family: 'wellfleet';
		letter-spacing: 0.75px;
		margin-block-start: 1.75em;
		margin-block-end: 1em;
		line-height: 2em;
	}
		@media (max-width: 500px) {
			.chalkboard_title {
				font-size: clamp(1rem, 6vmin, 2.063rem);
				line-height: clamp(2.5rem, 10vmin, 6rem);
			}
		}
			.chalkboard_list {
				display: flex;
				flex-flow: row wrap;
			}
				.chalkboard_list > li {
					flex: 1 1 30%;
					padding: 1%;
					font-family: 'wellfleet';
					letter-spacing: -0.25px;
					white-space: nowrap;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: column nowrap;
					background-image: var(--hb_iconBackground);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
					.chalkboard_icon {
						height: 22px;
						width: 22px;
						margin-bottom: 2px;
					}
						.chalkboard_cta {
							margin: 0.5em 0 0 0;
							color: var(--hb_green);
							font-size: var(--hb_font-xl);
							font-weight: 900;
							font-family: 'wellfleet';
							letter-spacing: 0.75px;
						}
							.chalkboard_arrow {
								position: absolute;
								bottom: 0;
								z-index: -1;
								margin-right: 8vw;
								margin-left: auto;
								padding-bottom: 2.5em;
								width: 20%;
								height: auto;
							}
							.svg_grabhand-left,
							.svg_grabhand-right {
								position: absolute;
								top: 0;
								z-index: 1;
								filter: drop-shadow(1px 2px 1px #0008);
								margin-top: calc(-32px - calc( 0.45 * clamp(0px,calc(3vw - 3vh),12px)));
								margin-right: 2em;
								margin-left: 2em;
								width: calc(80px + clamp(0em,calc(3vw - 3vh),22px));
								max-width: 25%;
							}
								.svg_grabhand-left {
								left: 0;
								}
								.svg_grabhand-right {
									right:0;
								}
									@media (min-width: 390px) {
										.svg_grabhand-left {
											right: 220px;
											left: unset;
										}
									}
									@media (min-width: 100vh) {
										.svg_grabhand-left {
											right: calc(220px - calc( calc( 100vw - var(--scrollbar) ) - 100vh) /2);
										}
										.svg_grabhand-right {
											display: none;
										}
									}
									@media (min-width: 150vh) {
										.svg_grabhand-left {
											right:0;
										}
									}

.svg_me {
	filter: drop-shadow(1px 2px 1px #0008);
	position: absolute;
	width: 100%;
	height: 100%;
}

.welcome > .landing_backdrop {
	background: radial-gradient(at 7.5% 7.5%, #fffc 0%, #fff6 30%), linear-gradient(#00b8ff 10%, #fff 100%);
}
	.welcome_clouds {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.welcome_sun {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		margin-top: 15px;
		margin-left: 2%;
		width: 20vh;
		max-width: 25%;
		height: auto;
	}
	.welcome_desert {
		position: absolute;
		bottom: 0;
		width: clamp(100vw, 1080px, 177.777vw);
		height: clamp(32vh, 303.75px, 50vmin);
	}
		.desert-cactus,
		.desert-shrub {
			position: absolute;
			bottom: 10%;
		}

/*- - - - - - - - - - - - - - -  2.2 BLOCKS - RESPONSIVE SCREEN ANIMATION - - */


.screen {
	filter: drop-shadow(8px 12px 5px #0007);
	-webkit-animation: squish 6s ease-in-out alternate infinite;
	        animation: squish 6s ease-in-out alternate infinite;
	border: solid 0.5em #333;
	border-radius: 1.5em;
	background: #333;
	width: 100%;
	height: 100%;
}
	.screen_demo {
		display: flex;
		flex-flow: column nowrap;
		border-radius: 1em;
		background: #fff;
		padding: .25em;
		width: 100%;
		height: 100%;
	}
		.screen_row {
			display: flex;
			flex: 1 1 auto;
			flex-flow: row wrap;
		}
			.screen_column {
				flex: 1 1 auto;
				margin: .25em;
				border-radius: .75em;
			}
				h4.screen_title {
					position: relative;
					margin: 0 auto;
					width: 100%;
					height: 100%;
					color: var(--hb_white);
					font-size: 2em;
					letter-spacing: -0.04em;
				}
					h4.screen_title > span {
						display: flex;
						position: absolute;
						align-items: center;
						justify-content: center;
						opacity: 0;
						width: 100%;
						height: 0;
						overflow: hidden;
					}
						h4.screen_title > span:nth-of-type(1) {
							-webkit-animation: titleSwitch-mobile 6s ease-in-out alternate infinite;
							        animation: titleSwitch-mobile 6s ease-in-out alternate infinite;
						}
						h4.screen_title > span:nth-of-type(2) {
							-webkit-animation: titleSwitch-tablet 6s ease-in-out alternate infinite;
							        animation: titleSwitch-tablet 6s ease-in-out alternate infinite;
						}
						h4.screen_title > span:nth-of-type(3) {
							-webkit-animation: titleSwitch-desktop 6s ease-in-out alternate infinite;
							        animation: titleSwitch-desktop 6s ease-in-out alternate infinite;
						}


.screen_row.a > .screen_column {
	-webkit-animation: screen_row-a 6s ease-in-out alternate infinite;
	        animation: screen_row-a 6s ease-in-out alternate infinite;
	background: var(--hb_blue);
}

.screen_row.b > .screen_column {
	background: var(--hb_red);
}

.screen_row.c > .screen_column {
	-webkit-animation: screen_row-c 6s ease-in-out alternate infinite;
	        animation: screen_row-c 6s ease-in-out alternate infinite;
	background: var(--hb_orange);
}

.screen_row.d > .screen_column {
	-webkit-animation: screen_row-d 6s ease-in-out alternate infinite;
	        animation: screen_row-d 6s ease-in-out alternate infinite;
	background: var(--hb_green);
}


@-webkit-keyframes screen_row-a {
	0%	{ width: calc( 40% - .5em  ); } /* minus 1.5vmin to account for the padding and margin 2 x .75vmin */
	75.3% { width: calc( 40% - .5em  ); }
	75.4% { width: calc( 100% - .5em ); }
	100%  { width: calc( 100% - .5em ); }
}


@keyframes screen_row-a {
	0%	{ width: calc( 40% - .5em  ); } /* minus 1.5vmin to account for the padding and margin 2 x .75vmin */
	75.3% { width: calc( 40% - .5em  ); }
	75.4% { width: calc( 100% - .5em ); }
	100%  { width: calc( 100% - .5em ); }
}

@-webkit-keyframes screen_row-c {
	0%	 { width: calc(  33% - .5em ); }
	28.7%  { width: calc(  33% - .5em ); } /* Sandwich together the keyframes to create a stepped change in	*/
	28.8%  { width: calc(  50% - .5em ); } /* the calculated widths, otherwise the threshold is unpredictable. */
	75.3%  { width: calc(  50% - .5em ); }
	75.4%  { width: calc( 100% - .5em ); }
	100%   { width: calc( 100% - .5em ); }
}

@keyframes screen_row-c {
	0%	 { width: calc(  33% - .5em ); }
	28.7%  { width: calc(  33% - .5em ); } /* Sandwich together the keyframes to create a stepped change in	*/
	28.8%  { width: calc(  50% - .5em ); } /* the calculated widths, otherwise the threshold is unpredictable. */
	75.3%  { width: calc(  50% - .5em ); }
	75.4%  { width: calc( 100% - .5em ); }
	100%   { width: calc( 100% - .5em ); }
}

@-webkit-keyframes screen_row-d {
	0%	{ width: calc( 25% - .5em ); }
	51.4% { width: calc( 25% - .5em ); }
	51.5% { width: calc( 50% - .5em ); }
	100%  { width: calc( 50% - .5em ); }
}

@keyframes screen_row-d {
	0%	{ width: calc( 25% - .5em ); }
	51.4% { width: calc( 25% - .5em ); }
	51.5% { width: calc( 50% - .5em ); }
	100%  { width: calc( 50% - .5em ); }
}

@-webkit-keyframes squish {
	0%   { width: 100%; height: 70%; }
	100% { width: 50%; height: 100%; }
}

@keyframes squish {
	0%   { width: 100%; height: 70%; }
	100% { width: 50%; height: 100%; }
}

@-webkit-keyframes titleSwitch-desktop {
	0%  { opacity: 1; height: 100%; }
	25% { opacity: 1; height: 100%; }
	30% { opacity: 0; height: 0;	}
}

@keyframes titleSwitch-desktop {
	0%  { opacity: 1; height: 100%; }
	25% { opacity: 1; height: 100%; }
	30% { opacity: 0; height: 0;	}
}

@-webkit-keyframes titleSwitch-tablet {
	25% { opacity: 0; height: 0;	}
	30% { opacity: 1; height: 100%; }
	75% { opacity: 1; height: 100%; }
	80% { opacity: 0; height: 0;	}
}

@keyframes titleSwitch-tablet {
	25% { opacity: 0; height: 0;	}
	30% { opacity: 1; height: 100%; }
	75% { opacity: 1; height: 100%; }
	80% { opacity: 0; height: 0;	}
}

@-webkit-keyframes titleSwitch-mobile {
	75%  { opacity: 0; height: 0;	}
	80%  { opacity: 1; height: 100%; }
	100% { opacity: 1; height: 100%; }
}

@keyframes titleSwitch-mobile {
	75%  { opacity: 0; height: 0;	}
	80%  { opacity: 1; height: 100%; }
	100% { opacity: 1; height: 100%; }
}


/*========================================================= 3. ANIMATION =====*/
/*----------------------------------------------------- 3.1 CSS KEYFRAMES ----*/


/* IMPORT LANDING GLOBALS FROM LANDING>DEV */



/*============================================================ 4. THEMES =====*/
/*--------------------------------------------------- 4.1 THEMES - MEXICO ----*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'wellfleet';
	font-weight: 400;
	letter-spacing: normal;
}

.title-hype {
	color: var(--hb_orange);
	font-weight: 900;
	white-space: nowrap;
	font-family: 'jokerman';
	font-size: 130%;
}
@media (max-width: 500px) {
	.title-hype {
		font-size: clamp(100%, 8vmin, 250%);
	}
}