/*~~~~~~~~~~oOo~~~~~~~~~~o~
~o DOCUMENT  INFORMATION o~

o Document  Herringbone Theme - Developer Landing Page CSS
o Version   v0.1
o Author	Jefferson Real
o Contact   me@jeffersonreal.com

This style sheet must only contain styles specific to the developer landing
page. It will ONLY be loaded for this single page. Any styles to be reused on
multiple landing pages should go in landing.css.


~o~~~~oOo~~~~o~
~o CSS INDEX o~

1. PAGE
	*empty*
2. SECTIONS
	2.1 SECTION - WELCOME
	2.2 SECTION - PRODUCT
	2.3 SECTION - TICKLE
	2.4 SECTION - USP
*/


/*============================================================== 1. PAGE =====*/

/*========================================================== 2. SECTIONS ==== */
/*------------------------------------------------- 2.1 SECTION - WELCOME --- */


.welcome {
	min-height: 100vh;
}
	.welcome > .landing_content {
		display: flex;
		flex-flow: row nowrap;
	}


/*------------------------------------------------- 2.2 SECTION - PRODUCT --- */


.product > .landing_backdrop {
	background: var(--hb_white);
}

.product > .landing_content {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	min-height: 80vh;
}

.graphicContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto 0;
	padding: 10%;
	font-size: 80%;
}
	@media (min-width: 48em) {
		.graphicContainer {
			font-size: 60%;
		}
	}
	@media (min-width: 70em) {
		.graphicContainer {
			font-size: 80%;
		}
	}


/*-------------------------------------------------  2.3 SECTION - TICKLE --- */


.tickle > .landing_backdrop {
	background: linear-gradient(#fff 60%, #fff3d4);
}

.tickle > .landing_content {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	min-height: 80vh;
}


/*----------------------------------------------------- 2.4 SECTION - USP --- */


.usp > .landing_backdrop {
	background: #fff3d4;
}
	.usp_wall {
		height: 100%;
	}

.usp > .landing_content {
	display: grid;
	position: relative;
	grid-template: repeat(3, 33.333%) / repeat(2, 50%);
	grid-template-areas: "a b"
						 "c d"
						 "e f";
	padding: 0;
	width: 100%;
	height: 100vh;
	text-align: center;
}
	.usp_title {
		font-family: 'Wellfleet';
		font-size: 2.2em;
		font-weight: 400;
	}
		.usp_instruction:after {
			content: "\1F335";
		}
		.usp_instruction {
			display: block;
			margin: 5% auto;
			font-size: 1em;
			font-weight: 600;
		}
			.usp_state {
				display: none;
			}
				.usp_card {
					display: flex;
					flex-flow: column;
					grid-area: var(--grid_area);
					align-items: center;
					justify-content: flex-end;
					width: 100%;
				}
					.usp_cactiWrap {
						cursor: pointer;
						padding-top: 4vh;
						max-height: 100%;
					}
						.usp_cacti {
							filter: drop-shadow(1px -2px 1px #0006);
							width: 100%;
							height: 100%;
						}
							.usp_blurb,
							.usp_subtitle {
								transition: opacity 1s ease;
								opacity: 0;
								max-height: 0;
								font-size: 0;
							}
								.usp_button {
									display: block;
									margin: 1% auto;
									background-position: center center;
									background-repeat: no-repeat;
									background-size: contain;
									cursor: pointer;
									padding: .8em;
									width: fit-content;
									color: #fff;
									font-family: 'Wellfleet';
									font-weight: 400;
								}
									.usp_button.red {
										background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 150 100'%3E%3Cpath fill='%23e54242' d='M11 8l125-7c8 0 15 7 13 19l-6 65c-1 9-5 15-13 14L24 92c-6 0-12-3-14-15L1 23C0 15 4 8 11 8z'/%3E%3C/svg%3E");										}
									.usp_button.green {
										background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 150 100'%3E%3Cpath fill='%2361af76' d='M11 8l125-7c8 0 15 7 13 19l-6 65c-1 9-5 15-13 14L24 92c-6 0-12-3-14-15L1 23C0 15 4 8 11 8z'/%3E%3C/svg%3E");										}

#usp_default:checked + .usp_card {
	display: flex;
}

.landscape .usp > .landing_content {
	display: grid;
	grid-template: repeat(2, 50%) / repeat(3, 33.333%);
	grid-template-areas: "a b c"
						 "d e f";
}

.usp_state:checked + .usp_card {
	display: grid;
	grid-template: 40% 60% / 100%;
	grid-template-areas: "cactus"
						 "blurb ";
	grid-row: 1 / -1;
	grid-column: 1 / -1;
	justify-content: space-evenly;
	z-index: 1;
	padding: 5vh 5vw;
}
	.usp_state:checked + .usp_card > .usp_cactiWrap {
		grid-area: cactus;
		padding-top: 0;
		height: 80%;
	}
		.usp_state:checked + .usp_card > .usp_blurb {
			display: flex;
			flex-flow: column;
			grid-area: blurb;
			justify-content: space-evenly;
			opacity: 1;
			height: 100%;
			max-height: 100%;
			font-size: 1em;
		}
			.usp_state:checked + .usp_card > .usp_cactiWrap > .usp_cacti {
				animation: floaty 2s ease-in-out alternate infinite;
			}

.landscape .usp_state:checked + .usp_card {
	gap: 1em;
	grid-template: 100% / 70% 30%;
	grid-template-areas: "blurb cactus";
}

@media (max-width: 48em) {
	.usp_card {
		background: #fff3d4;
	}
}

@media (min-width: 48em) {
	.usp > .landing_content {
		grid-template: 60% repeat(2, 20%) / repeat(3, 33.333%);
		grid-template-areas: "i i i"
							 "a b c"
							 "d e f";
	}
		.usp_cactiWrap {
			padding: 0;
		}
			.usp_subtitle {
				opacity: revert;
				margin: 0;
				max-height: revert;
				font-family: 'Wellfleet';
				font-size: revert;
				font-weight: 400;
			}
				.usp_button {
					display:none;
				}
	.landscape .usp > .landing_content {
		grid-template: 70% 30% / repeat(6, 16.666%);
		grid-template-areas: "i i i i i i"
							 "a b c d e f";
	}
		.usp_state:checked + .usp_card {
			filter: drop-shadow(2px 4px 5px #0008);
			grid-area: i;
			grid-template: 100% / 70% 30%;
			grid-template-areas: "blurb cactus";
			margin: auto;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='100%25' height='100%25' viewBox='0 0 1720 570'%3E%3Cpath fill='%23fafafa' d='M79 21L1640 0c45-1 88 31 79 85l-64 393c-9 54-47 93-102 92L144 539c-49-1-84-36-91-79L1 115c-7-43 25-94 78-94z'/%3E%3C/svg%3E");
			width: 90%;
			text-align: left;
		}
			.usp_state:checked + .usp_card > .usp_blurb {
				display: flex;
				flex-flow: column;
				align-items: flex-start;
				justify-content: center;
				padding: 2%;
				width: 80%;
				max-width: 44em;
			}
				.usp_state:checked + .usp_card > .usp_cactiWrap {
					height: 100%;
				}

	.landscape .usp_state:checked + .usp_card {
		grid-template: 100% / 70% 30%;
		grid-template-areas: "blurb cactus";
	}

}/* media min-width: 48em */


@media (min-width: 70em) {
	.usp > .landing_content {
		grid-template: 15% 50% 35% / repeat(6, 16.666%);
		grid-template-areas: "i i i i i i"
							 "i i i i i i"
							 "a b c d e f";
	}
	.usp_state:checked + .usp_card {
		min-height: 25vw;
		max-height: 90%;
	}
}/* media min-width: 70em */
